<a href="https://colab.research.google.com/github/jeeet0700/Python_Beginner/blob/master/Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input())
m=int(input())
for i in range(n):
  for j in range(m):
    print("*",end="")
  print("\n\n")

2
3
***


***

In [ ]:
n=int(input())
for i in range(n+1):
    for j in range(i):
        print("*",end="")
    print()

5

*
**
***
****
*****

In [ ]:
# n=int(input())
print("start")
for i in range(1,5):
  for j in range(1,i):
    print(j,end=" ")
  print()

start

1
1 2
1 2 3

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
    if j!=i:
      print(" ",end="")
  print()

4
1
1 2
1 2 3
1 2 3 4

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(n+1-i):
    print("*",end="")
  print()

5
*****
****
***
**
*

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    if j%2==0:
      print("*",end=" ")
    else:
      print(j,end=" ")
  print()

5
1
1 *
1 * 3
1 * 3 *
1 * 3 * 5

In [ ]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if j%2==0:
            print(" ",end="")
        else:
            print(j,end="")
    print()

5
1
1
1 3
1 3
1 3 5

In [ ]:
n=int(input())
for i in range(1,n+1):
  print("*",end=" ")
  for j in range(n+1-i):
    print(" ",end="")
  print("*",end=" ")
  print()

5
*      *
*     *
*    *
*   *
*  *

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end="")
  for j in range(i):
    print("*",end="")
  print()

5
    *
   **
  ***
 ****
*****

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(j,end=" ")
  print()

4
1 2 3 4
1 2 3
1 2
1

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+2-i):
    # print(j,end=" ")
    if j!=n+1-i:
        print(j,end=" ")
    else:
        print(j,end="")
  print()

4
1 2 3 4
1 2 3
1 2
1

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(n-i+1):
    print("*",end="")
  for j in range(2*i-2):
    print(" ",end="")
  for i in range(n-i+1):
    print("*",end="")
  print()

5
**********
****  ****
***    ***
**      **
*        *

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(i):
    print("*",end="")
  for j in range(2*n-2*i):
    print(" ",end="")
  for i in range(i):
    print("*",end="")
  print()

5
*        *
**      **
***    ***
****  ****
**********

In [ ]:
n=int(input())
k=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(k,end="")
    k=k+1
  print()

4
1
23
456
78910

In [ ]:
n=int(input())
for i in range(1,n+1):
  print("*",end=" ")
  for j in range(n+1-i):
    print(" ",end="")
  print("*",end=" ")
  print()

7
*        *
*       *
*      *
*     *
*    *
*   *
*  *

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()
for i in range(1,n):
  for j in range(n-i):
    print("*",end="")
  print()

5
*
**
***
****
*****
****
***
**
*

In [ ]:
n=int(input())
k=0
for i in range(0, n):
  for j in range(0, k):
    print(end=" ")
    k = k - 1
    for j in range(0, i+1):
      print("* ", end="")

5

In [ ]:
# Python 3.x code to demonstrate star pattern

# Function to demonstrate printing pattern triangle
def triangle(n):
	
	# number of spaces
	k = n - 1

	# outer loop to handle number of rows
	for i in range(0, n):
	
		# inner loop to handle number spaces
		# values changing acc. to requirement
		for j in range(0, k):
			print("0",end=" ")
	
		# decrementing k after each loop
		k = k - 1
	
		# inner loop to handle number of columns
		# values changing acc. to outer loop
		for j in range(0, i+1):
		
			# printing stars
			print("*", end="")
	
		# ending line after each row
		print("\r")

# Driver Code
n = 5
triangle(n)

0 0 0 0 *
0 0 0 **
0 0 ***
0 ****
*****

In [ ]:
rows = int(input("Enter number of rows: "))

k = 0
count=0
count1=0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print("  ", end="")
        count+=1
    
    while k!=((2*i)-1):
        if count<=rows-1:
            print(i+k, end=" ")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end=" ")
        k += 1
    
    count1 = count = k = 0
    print()

Enter number of rows: 5
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [ ]:
n = 6
for i in range(1, n+1):
    for j in range(i):
        # print star only at start and end of the row
        if j == 0 or j == i-1:
            print('*', end='')
        # print only star if it's last row
        else:
            if i != n:
                print(' ', end='')
            else:
                print('*', end='')
    print()

*
**
* *
*  *
*   *
******

In [ ]:
n=7
for i in range(0,n+1):
  for j in range(0,n-i):
    print("*",end="")
  print()

*******
******
*****
****
***
**
*

In [ ]:
n=7
for i in range(0,n+1):
  for j in range(0,n-i):
    if j==
    print("*",end="")
  print()

*******
******
*****
****
***
**
*

In [ ]:
n = int(input())
for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        if i == 1 or i == n or j == 1 or j == i:
            print('*', end = '')
        else:
            print(' ', end = '')
    print()

4
****
* *
**
*

In [5]:
for i in range(5):
  print("*",end=" ")

* * * * *

In [7]:
for i in range(3):
  for j in range(3):
    print("*",end=" ")
  print()

* * *
* * *
* * *

In [9]:
for i in range(5):
  for j in range(i):
    print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3

In [10]:
for i in range(1,6):
  for j in range(i):
    print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4