<a href="https://colab.research.google.com/github/jeeet0700/Python_Beginner/blob/master/Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
n=int(input())
m=int(input())
for i in range(n):
  for j in range(m):
    print("*",end="")
  print("\n\n")

2
3
***


***

In [5]:
n=int(input())
for i in range(n+1):
    for j in range(i):
        print("*",end="")
    print()

5

*
**
***
****
*****

In [1]:
for i in range(5):
  print(i)

0
1
2
3
4

In [12]:
# n=int(input())
print("start")
for i in range(1,5):
  for j in range(1,i):
    print(j,end=" ")
  print()

start

1
1 2
1 2 3

In [23]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
    if j!=i:
      print(" ",end="")
  print()

4
1
1 2
1 2 3
1 2 3 4

In [25]:
n=int(input())
for i in range(1,n+1):
  for j in range(n+1-i):
    print("*",end="")
  print()

5
*****
****
***
**
*

In [28]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    if j%2==0:
      print("*",end=" ")
    else:
      print(j,end=" ")
  print()

5
1
1 *
1 * 3
1 * 3 *
1 * 3 * 5

In [2]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if j%2==0:
            print(" ",end="")
        else:
            print(j,end="")
    print()

5
1
1
1 3
1 3
1 3 5

In [4]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if j==1 or j==n:
      print("*",end="")
    else:
      print(" ",end="")
  print()

5
*   *
*   *
*   *
*   *
*   *

In [1]:
n=int(input())
for i in range(1,n+1):
  print("*",end=" ")
  for j in range(n+1-i):
    print(" ",end="")
  print("*",end=" ")
  print()

5
*      *
*     *
*    *
*   *
*  *

In [3]:
n=int(input())
for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end="")
  for j in range(i):
    print("*",end="")
  print()

5
    *
   **
  ***
 ****
*****

In [14]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+2-i):
    print(j,end=" ")
  print()

4
1 2 3 4
1 2 3
1 2
1

In [15]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+2-i):
    # print(j,end=" ")
    if j!=n+1-i:
        print(j,end=" ")
    else:
        print(j,end="")
  print()

4
1 2 3 4
1 2 3
1 2
1

In [16]:
n=int(input())
for i in range(1,n+1):
  for j in range(n-i+1):
    print("*",end="")
  for j in range(2*i-2):
    print(" ",end="")
  for i in range(n-i+1):
    print("*",end="")
  print()

5
**********
****  ****
***    ***
**      **
*        *

In [18]:
n=int(input())
for i in range(1,n+1):
  for j in range(i):
    print("*",end="")
  for j in range(2*n-2*i):
    print(" ",end="")
  for i in range(i):
    print("*",end="")
  print()

5
*        *
**      **
***    ***
****  ****
**********

In [21]:
n=int(input())
k=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(k,end="")
    k=k+1
  print()

10
1
23
456
78910
1112131415
161718192021
22232425262728
2930313233343536
373839404142434445
46474849505152535455