<a href="https://colab.research.google.com/github/jeeet0700/Python_Beginner/blob/master/Test_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
n=int(input())
m=int(input())
for i in range(n):
  for j in range(m):
    print("*",end="")
  print("\n\n")

2
3
***


***

In [5]:
n=int(input())
for i in range(n+1):
    for j in range(i):
        print("*",end="")
    print()

5

*
**
***
****
*****

In [1]:
for i in range(5):
  print(i)

0
1
2
3
4

In [12]:
# n=int(input())
print("start")
for i in range(1,5):
  for j in range(1,i):
    print(j,end=" ")
  print()

start

1
1 2
1 2 3

In [16]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    if j!=i:
      print("",end="")
    print(j,end=" ")
  print()

4
1
1 2
1 2 3
1 2 3 4