<a href="https://colab.research.google.com/github/jeeet0700/Python_Beginner/blob/master/Test_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
n=int(input())
m=int(input())
for i in range(n):
  for j in range(m):
    print("*",end="")
  print("\n\n")

2
3
***


***

In [5]:
n=int(input())
for i in range(n+1):
    for j in range(i):
        print("*",end="")
    print()

5

*
**
***
****
*****

In [1]:
for i in range(5):
  print(i)

0
1
2
3
4

In [12]:
# n=int(input())
print("start")
for i in range(1,5):
  for j in range(1,i):
    print(j,end=" ")
  print()

start

1
1 2
1 2 3

In [23]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
    if j!=i:
      print(" ",end="")
  print()

4
1
1 2
1 2 3
1 2 3 4

In [25]:
n=int(input())
for i in range(1,n+1):
  for j in range(n+1-i):
    print("*",end="")
  print()

5
*****
****
***
**
*

In [28]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    if j%2==0:
      print("*",end=" ")
    else:
      print(j,end=" ")
  print()

5
1
1 *
1 * 3
1 * 3 *
1 * 3 * 5

In [2]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if j%2==0:
            print(" ",end="")
        else:
            print(j,end="")
    print()

5
1
1
1 3
1 3
1 3 5

In [4]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    if j==1 or j==n:
      print("*",end="")
    else:
      print(" ",end="")
  print()

5
*   *
*   *
*   *
*   *
*   *