<a href="https://colab.research.google.com/github/jeeet0700/Python_Beginner/blob/master/W5D11List_conti_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
t=()

In [2]:
print(type(t))

<class 'tuple'>

In [3]:
t=(1,2,3,4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [4]:
t[0]=100

TypeError: ignored

In [5]:
#tuple are immutable

In [6]:
l=[1,2,3,4,5,6]

In [7]:
print(l)
print(type(l))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [8]:
t=tuple(l)
print(t)
print(type(t))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [9]:
t=(4,5)
print(max(t))

5

In [10]:
print(max((4,5)))

5

In [11]:
print(max(4,5))

5